<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example21" placeholder="E-mail adresinizi giriniz...." class="form-control" />
                            <label class="form-label" for="form5Example21">Email address</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>
        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </section>
        <section class=" d-flex justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-1 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase">Bağlantılar</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/Home/Index" class="text-white">Anasayfa</a>
                        </li>
                        <li>
                            <a href="/Home/MostLiked" class="text-white">En Beğenilenler</a>
                        </li>
                        <li>
                            <a href="/Home/Index" class="text-white">Son Yüklenenler</a>
                        </li>
                        <li>
                            <a href="/Home/About" class="text-white">Hakkımızda</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-3  mb-4 mb-md-0">
                    <h5 class="text-uppercase">Şirket</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Vizyon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Misyon</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">İletişim</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Ulaşım</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: @DateTime.Now.Year
        <a class="text-white" href="https://mdbootstrap.com/">MyEvernote.com</a>
    </div>
</footer>

