@using MyEvernote.WebApp.ViewModels
@model WarningViewModel

@{
    ViewBag.Title = Model.Title;
}
<link href="~/Content/login-register.css" rel="stylesheet" />
<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://img.freepik.com/free-vector/blank-warning-sign_97458-36.jpg?w=2000" class="img-responsive" alt="Sample image">
        </div>
        <br /><br /><br /><br />
        <div class="col-md-8 col-lg-6">
            <form>
                <div class="form-header">
                    <h1 class="text-center text-warning">@Model.Header</h1><br />
                </div>
                <div class="main-content">
                    <div class="text-warning">
                        <h2><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;@Model.Title</h2>
                    </div>
                </div>
                <hr />
                <p class="text-justify">
                    @foreach (string msg in Model.Items)
                    {
                        @msg<br />
                    }
                </p>
            </form>
        </div>
    </div>
</div>

@{
    string js = string.Empty;
    if (Model.IsRedirecting)
    {
        js = "setTimeout(function () { window.location = '" + Model.RedirectUrl + "'; }," + Model.RedirectingTimeout + ");";
    }
}
<script>
    $(function () {
        @Html.Raw(js);
    });
</script>


