
@{
    ViewBag.Title = "About";
}

<link href="~/noteCss.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center mt-3">
            <div class="image-aboutus-banner" style="margin-top:70px">
                <div class="container">
                    <div class="row">
                        <div>
                            <h1 class="lg-text">HAKKIMIZDA</h1>
                            <p class="image-aboutus-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2>Good codebase and in-built powerful standards</h2>
                        <img class="img-responsive" src="https://dummyimage.com/500x200/f2a427/1500cf" alt="">
                        <hr>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>                    <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer{
    @Html.Partial("_PartialFooter")
}

